<div class="main-container">
  <section>
    <div class="form-container">
      <div class="user-border">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="input-box">
        <input type="text" name="" required="">
        <label>Email</label>
      </div>
      <div class="input-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <div id="submit">
        <button>Login</button>
      </div>
      <div id="check-box-container">
        <input id="remember-me" type="checkbox" checked>
        <label for="remember-me">Remember me</label>
        <a href="#">Forgot your password?</a>
      </div>
    </div>
  </section>
</div>
